:root {
    --tb-primaryColor: #0969b8;
    --tb-primaryColorDark: #002a4e;
    --tb-primaryColorLight: #edf5fc;
    --tb-secondaryColor: #fff0d9;
    --tb-dark-color: #131313;
    --tb-light-gray: #d9d9d9;
    --tb-light-color: #eeeeee;
    --tb-button-color: rgb(5, 184, 255);
}


html, body {
    font-size: 14px;
    height: 100%;
}

@media (min-width: 768px) {
    html, body {
        font-size: 16px;
        height: 100%;
    }
}

html {
  position: relative;
  min-height: 100%;
}

.navbar{
    background: var(--tb-primaryColor)!important;
    
}

body {
    margin-bottom: 60px;
    background-color: var(--tb-light-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    color: var(--tb-dark-color);
    font-family: var(--tb-body-font);
    font-weight: 400;
    font-size: 1.2rem;
}

/* Button Oberrides*/
.btn-outline-primaryu {
    color: var(--tb-dark-color);
    border-color: Var(--tb-primaryColor) !important;

}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,{
    border-color: var(--tb-secondaryColor) !important;
    background-color: var(--tb-primaryColor);
    color: var(--tb-light-color) !important;
}

.content {
    flex: 1 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.btn-primary{
    color: white !important;
    background-color: var(--tb-primaryColor) !important;
    border-color: var(--tb-secondaryColor);
}
.btn-primary:hover{
    filter: brightness(1.2) !important;
    border-color: var(--tb-primaryColorDark);

}
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    filter: brightness(1.2) !important;
}

.btnLink{
    width: 7rem;
}

.ctaIcon {
    color: var(--tb-highlight-color);
    font-size: 2.5rem;
}
footer {
    flex-shrink: 0;
    background-color: var(--tb-primaryColor);
}

.footer-cta {
    border-radius: 15px;
    background: var(--tb-button-color);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-main {
    background: var(--tb-primary-color);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.socialIcons {
    font-size: 2rem;
    color: var(--tb-light-color);
}

    .socialIcons:hover {
        color: var(--tb-highlight-color);
    }



    /*  BEGIN: Ladning Page*/
    .icon{
        font-size: 4rem;
    }
    .textHighlight{
        color: var(--tb-primaryColor)
    }

    .heroTitle{
        font-size: 3rem;
        text-transform: uppercase;
       
    }

    .subTitle{
        font-size: 1.5rem;
    }
.imgicon {
    display: inline;
    height: 3.5rem;
    margin: 0rem .3rem;
}

figcaption {
    color: var(--tb-dark-color);
    font-size: 0.8rem;
    text-align: center;
}

    /*END: LANDING PAGE*
        
        
    /* Sqaure Image css */

.square-img-container {
    position: relative;
    background-color: var(--cf-primaryColorLight);
    border-color: var(--cf-light-gray);
    border-style: solid;
}

    .square-img-container::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

.square-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

    /* End Square image css*/

    .editIcons{
        font-size: 1.5rem;
        opacity: .9;
        color: var(--tb-primaryColorDark);

    }

    .editIcons:hover{
        color: var(--tb-primaryColor);
        font-weight: bold;
        opacity: 1;
        cursor: pointer;
    }

    .sideNav{
        border-radius: 25px;
        border-color: var(--tb-light-color);
        border-style: solid;
        border-width: 3px;
        background-color: var(--tb-light-gray);
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: fit-content;


    }